# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# Project
/{{ project_name }}/local_settings.py

# Project database
# *.db

#startapp commands
startapp*.cmd


# Windows

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


#scss cache
.sass-cache/


#jspybuilder
JsPyBuilder-master/