/*Overall*/
%site-wrap {
	padding-left: 4%;
	padding-right: 4%;
	max-width:900px;
	margin-left:auto;
	margin-right: auto;	
}
.site-main, .site-footer {
	@extend %box--top-level;
}
hr {	
	@extend %rule;
}
.lede--home {
	@include font-size(26px, $line-height:false);
	line-height:1.5;
}
pre {
	background-color:#333;
	color:$base-bg-color;
	border-radius:$brand-round;
	padding:$half-spacing-unit;
	overflow:auto;
}
.link--simple {
	font-weight:bold;
}