/*
	$LINKS
*/

/*@text link*/
.link--simple{
	color:$link-color;
	text-decoration: none;
	border-bottom: 1px dotted transparent;
	&:hover,&:focus,&:active {
		color: $active-link-color;
		border-bottom-color:$active-link-color;
	}
	*{
		color:$link-color;
	}
	&:visited{
		color:$visited-link-color;
		&:hover{
		border-bottom-color:$visited-link-color;
		}
	}
}

.more-link{
	@extend .link--simple;
	&:before{
		content:"...";/*ellipsis before more links*/ 
	}
}
.link--block {
	display: block;
	width: 100%;
	text-decoration: none;
	color: $base-font-color;
}

$link-header-padding:$half-spacing-unit/2;
.link--header {
	text-decoration: none;
	color: $base-font-color;
	display: inline-block;
	padding:$link-header-padding;
	/*negative margin to cancel offset created by the padding*/
	margin:-$link-header-padding;
	/*&:hover {
		style hover effect as per need
	}*/
}

.link--inline-block {
	display: inline-block;
	text-decoration: none;
	color: $base-font-color;
}

/*
*
* table row link, extends from inline-block link, the padding reset on cells 
* and addition of padding on links is done in table file
*
*/
.link--tr {
	&:hover {
		a {
			color: $brand-color;
		}
	}
	
	a {
		@extend .link--inline-block;
	}
}