/*------------------------------------*\
    $BACK-TO-TOP
\*------------------------------------*/

.back-to-top {
	position:fixed;
	right: $base-spacing-unit;
	bottom: $base-spacing-unit;
	@include font-size(36px, $line-height:false);
	line-height:1.2;
	> a {
		@extend .link--inline-block;
		@extend .link--block__text;
		@extend .link--inline-block-hover-effect;
		padding: 4px 14px 0 14px;
	}
}
