/*------------------------------------*\
    $BTN--SUBMIT
\*------------------------------------*/

.btn--submit__container {
	text-align: center;
}

.btn--submit {
	@extend %btn;
	@extend %btn--medium;
	@extend .link--block__text;

	&:hover, &:focus, &:active {
		padding-left: $base-spacing-unit * 2;
		padding-right: $base-spacing-unit * 2;
	}

	.csstransitions & {
		@include vendor(transition, padding 200ms ease);
	}
}