/*------------------------------------*\
	$DETILE
\*------------------------------------*/
/**
 * object with a header, content(usually image or something rigid), footer 
 * setup where the content is shown and the header and footer are displayed
 * when the content is click. clicking on the content again hides the header
 * and footer. the header and footer could usually be block links that take
 * you to detail page of the tile content.
 *
 *
	<div class="detile">
	  <div class="detile__header">This will be the Heading div</div>
	  <div class="detile__content">Image div</div>
	  <div class="detile__footer">Related info like completed date, here</div>
	</div>

 *
 * Demo: http://codepen.io/affenity/pen/gLnzm

 * NOTE : depends on MODERNIZR modules csstransitions and js
 *
 */

 .detile {
	/*  Set width and height as per the need

	width: 250px;
	height: 220px;*/

	margin: $half-spacing-unit/2;
	position: relative;
	overflow: hidden;

	/*Set border as per need
	border: 1px solid $base-ui-color;*/

	border:1px solid $base-ui-color;
    &:hover {
    	border-color:$brand-color;
    }
}

.detile__content {
	/*content should cover the detile block fully*/
 	width: 100%;
	height: 100%;
	max-width:100%;
	cursor: pointer;

	/**
	 * Style content as per need
	 */
	> img {
		display:block; /*need to set this on the content img to avoid an unintended bottom margin*/
	}
}

.detile__header, .detile__footer {
	position: absolute;
	text-align: center;

	width: 100%;	
}

.detile__header {
	height: 63px;
	background-color:rgba(darken($brand-color,10%),0.85);
	color: $base-bg-color;

	> .epsilon {
		margin-top:$half-spacing-unit/2;
		margin-bottom:0;
	}
}

.detile__footer {
	height: 38px;
	background-color: $base-ui-color;

	> .link--block {
		@extend .link--block__text;
		padding: $half-spacing-unit/2;
		height: 100%;
		@extend .link--inline-block-hover-effect;
	}
}




/* set transition effect here if browser has support*/
.csstransitions .detile__header, .csstransitions .detile__footer {  
	transition: -webkit-transform 300ms ease;
	transition:    -moz-transform 300ms ease;
	transition:     -ms-transform 300ms ease;
	transition:      -o-transform 300ms ease;
	transition:         transform 300ms ease;
}



/*header stuff*/
/*initiate only if js is enabled*/
.js .detile__header {
	bottom: 100%;
}

/*initial movement/happens when content detile--flip class is removed*/
.js.csstransitions .detile__header {
	/*reset back before translating*/
	top: 0;
	@include vendor(transform, translate3d(0, -100%, 0));
}

/*flip to show header and footer without translating when not supported*/
.detile--flip .detile__header {
  top: 0;
}

/*flip with translation when supported*/
.csstransitions .detile--flip .detile__header {
	/*reset back before translating*/
	bottom: 100%;
	@include vendor(transform, translate3d(0, 0, 0));
}



/*footer stuff*/
/*show footer at the bottom by default if no js*/
.detile__footer {
	bottom: -1px;
}

/*initiate only if js is enabled*/
.js .detile__footer {
	bottom: -100%;
}

/*initial movement/happens when content detile--flip class is removed*/
.js.csstransitions .detile__footer {
	/*reset back before translating*/
	bottom: -1px;
	@include vendor(transform, translate3d(0, 100%, 0));
}

/*flip to show header and footer without translating when not supported*/
.detile--flip .detile__footer {
	bottom: -1px;
}

/*flip with translation when supported*/
.csstransitions .detile--flip .detile__footer {
	@include vendor(transform, translate3d(0, 0, 0));
}

