/*------------------------------------*\
    $LEDE--HOME
\*------------------------------------*/

/**
 * specific styling for the lede section of the homepage
 */

.lede--home {
	font-family:$brand-face;

	//font-size for smaller screens
	@include font-size(24px, $line-height:false);
	line-height: 1.5;

	//font size for larger screens
	@include grid-media-query('desk') {
		@include font-size(50px, $line-height:false);
	}

	//positioning and size
	position:absolute;
	width:90%;
	height:90%;
	top:5%;
	left:5%;
	@include vendor(border-radius, $brand-round);

	//font, bg colors	
	background:rgba(darken($brand-color,30%), 0.5);
	color:$base-bg-color;

}