/*------------------------------------*\
    $LOGO
\*------------------------------------*/

.logo {
	text-align: center;
	padding:$half-spacing-unit;
}

.logo__img{
	display: inline-block;

	/**
	 * exact size of the bitmap version of the logo
	 */
	width: 468px;
	height: 78px;

	background-image:  url(#{$static_url}images/logo.png);
	background-repeat: no-repeat;
	background-size:   100% 100%;

	// .no-svg & {
	// 	background-image:  url(#{$static-url}images/common/logo.png);
	// }
}