/*------------------------------------*\
    $LOGO
\*------------------------------------*/

.logo {
	text-align: center;
}

.logo__img{
	display: inline-block;
	margin: $half-spacing-unit;

	/**
	 * Same image served in 50% space for high density screens
	 */
	width: 234px;
	height: 39px;

	@include grid-media-query('lap') {

		/**
		 * exact size of the bitmap version of the logo
		 */
		width: 468px;
		height: 78px;
		margin:$base-spacing-unit;
	}


	background-image:  url(#{$static_url}images/logo.png);
	background-repeat: no-repeat;
	background-size:   100% 100%;

	// .no-svg & {
	// 	background-image:  url(#{$static-url}images/common/logo.png);
	// }
}