/*------------------------------------*\
    $MAIN-POSTS
\*------------------------------------*/

.main-posts {
	// @extend .list--block;
}

.main-posts__article {
	// @extend .list--block__li;
	background: $base-bg-color;
	border-radius: $brand-round;
	@extend .media;
	@extend .islet;
	margin-bottom:$half-spacing-unit;
}

.main-posts__article__img {
	@extend .media__img;
	@extend %lap--one-third;
	// @extend %desk--one-quarter;
}

.main-posts__article__body {
	@extend .media__body;
	@extend %lap--two-thirds;
	// @extend %desk--three-quarters;

	> h2 a {
		@extend .link--heading;
	}

	.list--inline__prefix {
		@extend .epsilon;
	}
}