/*------------------------------------*\
    $SITE-NAV
\*------------------------------------*/

.site-nav {
	@extend %responsive-nav;
	color: $base-bg-color;
	position: relative;
}
$even-child-step-down-value:2px;
.site-nav__ul {
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
	@include media-query($site-nav-breakpoint) {
		padding-bottom:$even-child-step-down-value;//to have space for the even child step down positioning done below
	}
}

$site-nav__li-border: dotted #777;
.site-nav__li {
	padding:0;
	border-bottom:1px #{$site-nav__li-border};
	@include media-query($site-nav-breakpoint) {
		border-bottom:0px;
		border-right:1px #{$site-nav__li-border};
		display:inline-block;
		vertical-align:top;
		width:25%;
		&:last-child {
			border:0;
		}
	}
}

.site-nav__link {
	@extend .link--block;
	padding: 10px 25px;
	color:$base-bg-color;
	&:hover, &:focus, &:active {
		color:$brand-color;
	}
	@include media-query($site-nav-breakpoint) {
		padding-top:$base-spacing-unit;
		padding-bottom:$base-spacing-unit;
	}
}

.site-nav__small-text,.site-nav__large-text {
	display:block;
	text-align: center;
}

.site-nav__small-text {
	@include opacity(0.7);
}

.site-nav__large-text {
	@extend .gamma;
	line-height:1.2;
}

.csstransitions {
	.site-nav__link {
		@include vendor(transition,all 350ms ease);
	}
}