/*------------------------------------*\
    $SITE-NAV
\*------------------------------------*/

.site-nav {
	font-size: inherit;
	font-weight: inherit;
	> ul {
		@extend .list--inline-block;
		margin:0;
		> li {
			position: relative;
		}
		> li > a {
			@extend .list--inline-block__link;
			padding:$half-spacing-unit $base-spacing-unit;
			&:hover {
				color: $brand-color;
			}
		}
		a {
			color: $base-font-color;
			text-transform: uppercase;
		}
	}

	.site-nav__sub-menu,
	.tooltip {
		position: absolute;
		top: 100%;
		left:-9999px;
		z-index: 100;
		min-width: 180px;
		max-width:300px;
		background: rgba($base-bg-color,0.9);
		border: $default-border;
	}

	li:hover > .site-nav__sub-menu,
	li:hover > .tooltip {
		left:-2px;
	}

	.site-nav__sub-menu {
		@extend .list--block;
		a {
			@extend .list--block__link;
			&:hover {
				color: $brand-color-complement;
				background: $brand-color-2;
			}
		}
	}

	.tooltip {
		padding: 5px;
	}
}