/*------------------------------------*\
    $PROJECT-DETAIL
\*------------------------------------*/

.project-slideshow {
	@extend %base-bottom-spacing;
	// @extend .auto-margin;
}
.project-detail__splitter {
	@extend %grid;
	.project-contact, .project-features {
		@extend %grid__item;
		@extend %one-whole;
		@extend %lap--one-half;
		padding:$half-spacing-unit;
	}
	.project-features > ul {
		margin-left: 0;
		list-style:none;
		> li {
			padding-left:$base-spacing-unit;
			position:relative;
			background-image:  url(#{$static_url}images/bullet1.png);
			background-position:left center;
			background-repeat:no-repeat;
		}
	}
}
.project-detail__section h2 {
	text-align: center;
}