/*------------------------------------*\
    PROPERTIES - $UI
\*------------------------------------*/

/**
 * Default colour for objects’ borders etc.
 */
 
$base-ui-color:      #aaa;

/**
 * default body background color
 */

$body-bg-color:      #ddd;


/**
 * content panels' background color
 */

$base-bg-color:      #f9f9f9;
