/*------------------------------------*\
    $TABS
\*------------------------------------*/

$tab__menu-border:1px solid;
.tab__menu {
	list-style:none;
	margin-left:0;
	border-left:$tab__menu-border $base-ui-color;
	border-right:$tab__menu-border $base-ui-color;
	a {
		display:block;
		padding:$half-spacing-unit;
		text-align: center;
		border-bottom:$tab__menu-border darken($base-ui-color,30%);
		border-top:$tab__menu-border $base-ui-color;
		position:relative;
		&:hover {
			border-bottom:$tab__menu-border lighten($base-ui-color,10%);
			left:1px
		}
	}
}

.tab__section {
	@extend %base-bottom-spacing;
}

@include grid-media-query('desk') {
	.tab__section__wrap {
		position:relative;
		@include grid-media-query('desk') {
			min-height:870px;
		}
	}
	.tab__section {
		// height:auto;
		// overflow:hidden;
		.js	& {
			position:absolute;
			margin-bottom:0;
			z-index:100;
			width:100%;
		}
		.js &.hide {
			@include vendor(opacity, 0);
			z-index:0;
				// height:0;
		}
		.js.csstransitions &.hide {
			@include vendor(transition, opacity 0ms linear);
		}
		.js.csstransitions & {
			@include vendor(transition, opacity 250ms linear);
		}
	}
}

/**
 * put a fixed button to jump to tab menu for narrow screens 
 */

.tab__menu__link__div {
	z-index:200;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	@include grid-media-query('desk') {
		left:-9999px;
	}
	border-top:1px solid $base-ui-color;
	background:$base-bg-color;
	.rgba & {
		background:rgba($base-bg-color, 0.9);
	}	
}
.tab__menu__link {
	display:block;
	text-align: center;
	padding:$half-spacing-unit/2;
}