/*Box
*
* To apply side padding to blocks
*
*/

%box--top-level {
	padding-left:$half-spacing-unit;	
	padding-right:$half-spacing-unit;
	padding-top:$base-spacing-unit/5;
	padding-bottom:$base-spacing-unit/4;

	@include grid-media-query('desk') {
		padding-left:$base-spacing-unit;	
		padding-right:$base-spacing-unit;
	}
}