%responsive-nav {

  /*regular link styling stuff for main nav*/
  > ul {
    @extend %nav--vanilla;

    /*Stack one below the other*/
    @extend %pre-responsive-breakpoint-nav--stacked;

    /*Set inline-block on the menu items*/
    @extend %post-responsive-breakpoint-nav;
  }
  
  /*For width until the break point*/
  @include media-query(0, $site-nav-fold-breakpoint - 1px) {

  
    /*Set link hover styling to bg-color changing mixin that is in _nav.scss */
    > ul {
     @include nav-hover-bg-color;
     padding-bottom:$half-spacing-unit;
    }
  
    .js & {
      clip: rect(0 0 0 0);
      max-height: 0;
      position: absolute;
      display: block;
      overflow: hidden;
      zoom: 1;    
    }
  
    &.opened {
      max-height: 9999px;    
    }

  }
  @include media-query($site-nav-fold-breakpoint) {

    /*Set link hover styling to bottom border underline mixin that is in _nav.scss */
    > ul {
      @include nav-hover-bg-color;
    }

    .js & {
      position: relative;
      max-height: none;      
    }

  }

}

/*For the plugin */
#nav-toggle {
  position: absolute;
  right:$base-spacing-unit;
  top:30px;
  @extend %btn;
  @extend %btn--small;
  @extend %btn--brand-border;
  @include media-query($site-nav-fold-breakpoint) {
    display: none;
  }
}