/*------------------------------------*\
    $LINK--MORE
\------------------------------------*/

/**
 * for 'read on'/'full post' links that need ellipsis before them
 */

.link--more, 
/**
 * more-link for backwards compatibility with my previous habit
 */
.more-link {
	position:absolute;
	bottom:$half-spacing-unit/2;
	right:$half-spacing-unit;
}